<!DOCTYPE html>
<html lang="en">

<head>
  <html xmlns:th="http://www.thymeleaf.org">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <title>
    PR car
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/css/paper-dashboard.css?v=2.0.1}" rel="stylesheet" />
  
</head>

<body class="">
  <div class="wrapper ">
<div th:replace="~{sidebar :: sidebar}"></div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:;">PR Car</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form>
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="nc-icon nc-zoom-split"></i>
                  </div>
                </div>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link btn-magnify" href="javascript:;">
                  <i class="nc-icon nc-layout-11"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Stats</span>
                  </p>
                </a>
              </li>
              <li class="nav-item btn-rotate dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="nc-icon nc-bell-55"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link btn-rotate" href="javascript:;">
                  <i class="nc-icon nc-settings-gear-65"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Account</span>
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card demo-icons">
              <div class="card-header">
                <h5 class="card-title">Cadastro de Clientes</h5>
                <!--<p class="card-category">Cadastro de clientes <a href="https://nucleoapp.com/?ref=1712" rel="nofollow">NucleoApp</a></p>-->
              </div>
              <div class="card-body all-icons">
                <div id="icons-wrapper">
                    
                    <div th:replace="~{listagem :: listagem}"></div>
                 <!-- <section>
                    <form class="form-horizontal" th:action="@{/salvar}" th:object="${cliente}" method="post">
                      <div class="panel panel-primary">
                          
                          <div class="panel-body">
                             
                                  <div class="col-md-11 control-label">
                                      <p class="help-block">
                                      <h11>*</h11> Campo Obrigatório
                                      </p>
                                  </div>
                             
                              <!-- Text input-->
                              <!--<div class="row"> 
                              <div class="col-md-4">
                              <div class="form-group">
                                      <label for="nome">Nome<h11>*</h11></label>
                                      <input type="text" id="nome" th:field="${cliente.nome}" class="form-control" required="" >
                              </div>
                              </div>
                              
                              <div class="col-md-4">
                               <div class="form-group">
                                  <label for="telefone">Telefone <h11>*</h11></label>
                                  
                                      <div class="form-group">
                                          <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                          <input name="telefone" class="form-control" id="telefone" required="" th:field="${cliente.telefone}"
                                                 placeholder="XX XXXXX-XXXX" type="text" maxlength="13"
                                                 pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## #####-####', this)">
                                      </div>
                               </div> 
                              
                              </div>
                              
                              <div class="col-md-4">
                              <div class="form-group">
                                  <label for="Nome">Data<h11>*</h11></label>
                                  
                                      <input id="data" name="data" class="form-control" type="text" maxlength="10" th:field="${cliente.data}" >
     
                              </div>
                              </div>
                            </div>
                              <!-- Prepended text-->
                              <!--<div class="row">
                              <div class="col-md-4">
                              <div class="form-group">
                                  <label for="marca">Marca<h11>*</h11></label>
                                      <input id="placa" name="placa" class="form-control" placeholder="" type="text" th:field="${cliente.marca}" >
                                  </div>
                              </div>
                                  <div class="col-md-4">
                                      <div class="form-group">
                                        <label for="placa">Placa<h11>*</h11></label>
                                          <input id="placa" name="placa" class="form-control" placeholder="" required=""
                                                 type="text" th:field="${cliente.placa}">
                                      </div>
                                  </div>
                                  <div class="col-md-4">
                                      <div class="form-group">
                                        <label for="km">KM</label>
                                          <input id="km" name="km" class="form-control" placeholder="" required="" type="text" th:field="${cliente.km}" >
                                      </div>

                                  </div>
</div>
<div class="row">
                                  <div class="col-md-12">
                                      <div class="form-group">
                                        <label for="serviço">Serviços<h11>*</h11></label>
                                          <input id="serviço" name="serviço" class="form-control" placeholder="" type="text" th:field="${cliente.serviço1}" >
                                      </div>

                                  </div>
                                  <div class="col-md-12">
                                      <div class="form-group">
                                        <label for="Observaçao">Observação<h11>*</h11></label>
                                          <input id="Observaçao" name="Observaçao" class="form-control" placeholder="" type="text" th:field="${cliente.serviço2}" >
                                      </div>

                                  </div>
</div>
                              </div>

                          </div>

                      </div> -->

                      <!-- Button (Double) -->
                      <!--<div class="form-group">
                          <label class="col-md-2 control-label" for="Cadastrar"></label>
                          <div class="col-md-8">
                              <button id="Cadastrar" name="Cadastrar" class="btn btn-success" type="Submit">Cadastrar</button>
                              <button id="Cancelar" name="Cancelar" class="btn btn-danger" type="Reset">Cancelar</button>
                          </div>
                      </div>
                  </form>
                  </section>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">
            <nav class="footer-nav">
              <ul>
                <li><a href="https://www.creative-tim.com" target="_blank">Creative Tim</a></li>
                <li><a href="https://www.creative-tim.com/blog" target="_blank">Blog</a></li>
                <li><a href="https://www.creative-tim.com/license" target="_blank">Licenses</a></li>
              </ul>
            </nav>
            <div class="credits ml-auto">
              <span class="copyright">
                © <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by Creative Tim
              </span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
  <script>
    function SelectText(element) {
      var doc = document,
        text = element,
        range, selection;
      if (doc.body.createTextRange) {
        range = document.body.createTextRange();
        range.moveToElementText(text);
        range.select();
      } else if (window.getSelection) {
        selection = window.getSelection();
        range = document.createRange();
        range.selectNodeContents(text);
        selection.removeAllRanges();
        selection.addRange(range);
      }
    }
    window.onload = function() {
      var iconsWrapper = document.getElementById('icons-wrapper'),
        listItems = iconsWrapper.getElementsByTagName('li');
      for (var i = 0; i < listItems.length; i++) {
        listItems[i].onclick = function fun(event) {
          var selectedTagName = event.target.tagName.toLowerCase();
          if (selectedTagName == 'p' || selectedTagName == 'em') {
            SelectText(event.target);
          } else if (selectedTagName == 'input') {
            event.target.setSelectionRange(0, event.target.value.length);
          }
        }

        var beforeContentChar = window.getComputedStyle(listItems[i].getElementsByTagName('i')[0], '::before').getPropertyValue('content').replace(/'/g, "").replace(/"/g, ""),
          beforeContent = beforeContentChar.charCodeAt(0).toString(16);
        var beforeContentElement = document.createElement("em");
        beforeContentElement.textContent = "\\" + beforeContent;
        listItems[i].appendChild(beforeContentElement);

        //create input element to copy/paste chart
        var charCharac = document.createElement('input');
        charCharac.setAttribute('type', 'text');
        charCharac.setAttribute('maxlength', '1');
        charCharac.setAttribute('readonly', 'true');
        charCharac.setAttribute('value', beforeContentChar);
        listItems[i].appendChild(charCharac);
      }
        var today = new Date();
        var day = String(today.getDate()).padStart(2, '0');
        var month = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var year = today.getFullYear();
        var currentDate = day + '/' + month + '/' + year;
        document.getElementById('data').value = currentDate;
        
        
}

  </script>
  <script>
function formatar(mascara, campo) {
  var digitos = campo.value.replace(/\D/g, '');
  var posicao = 0;
  var formatado = '';
  for (var i = 0; i < mascara.length; i++) {
    if (mascara[i] == '#') {
      if (digitos[posicao] != undefined)
        formatado += digitos[posicao++];
    } else {
      formatado += mascara[i];
    }
  }
  campo.value = formatado;
}
</script>
</body>

</html>
